[Unit]
Description=Oversees Apps Bundle Services
Requires=basic.target
After=basic.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/apps start
ExecStop=/usr/local/sbin/apps stop
